<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.fitlog.workout.mapper.WorkoutSetMapper">

    <resultMap id="workoutSetResultMap"
            type="com.kosa.fitlog.workout.dto.WorkoutSetDTO">
        <id property="workoutSetId" column="workout_set_id"/>
        <result property="workoutExerciseId" column="workout_exercise_id"/>
        <result property="setNo" column="set_no"/>
        <result property="weight" column="weight"/>
        <result property="reps" column="reps"/>
        <result property="memo" column="memo"/>
    </resultMap>

    <select id="findByWorkoutExerciseId" resultMap="workoutSetResultMap">
        SELECT workout_set_id,
               workout_exercise_id,
               set_no,
               weight,
               reps,
               memo
        FROM workout_sets
        WHERE workout_exercise_id = #{workoutExerciseId}
        ORDER BY set_no
    </select>

    <select id="findNextSetNo" resultType="int">
        SELECT NVL(MAX(set_no), 0) + 1
        FROM workout_sets
        WHERE workout_exercise_id = #{workoutExerciseId}
    </select>

    <insert id="insertWorkoutSet"
            parameterType="com.kosa.fitlog.workout.dto.WorkoutSetDTO">
        INSERT INTO workout_sets (
            workout_set_id,
            workout_exercise_id,
            set_no,
            weight,
            reps,
            memo
        )
        VALUES (
            SEQ_WORKOUT_SETS.NEXTVAL,
            #{workoutExerciseId},
            #{setNo},
            #{weight,jdbcType=NUMERIC},
            #{reps},
            #{memo,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteWorkoutSet">
        DELETE FROM workout_sets
        WHERE workout_set_id = #{workoutSetId}
          AND workout_exercise_id = #{workoutExerciseId}
          AND EXISTS (
              SELECT 1
              FROM workout_exercises we
              JOIN workout_logs wl
                ON wl.workout_log_id = we.workout_log_id
              WHERE we.workout_exercise_id = workout_sets.workout_exercise_id
                AND we.workout_log_id = #{workoutLogId}
                AND wl.member_id = #{memberId}
          )
    </delete>
</mapper>
